<!DOCTYPE html>
<html>
<head>
    <title>Listings - Create</title>
    <%- include('../header'); -%>
</head>
<body>
<div class="container">
    <div>Sample Form:</div>
    <form method="post">
        Name: <input type="text" name="sample_input"/>
        <input type="submit" value="Submit the sample"/>
    </form>
</div>
</body>
</html>