<!DOCTYPE html>
<html>
    <head>
        <title>Create Review</title>
        <%- include('../header'); -%>
    </head>
    <body>
        <div>Create Review:</div>
        <div class="container">
            <form method="post">
                Review ID:<br>
                <input type="text" name="review_id" ><br>

                Time:<br>
                <input type="text" name="time">

                Rating:<br>
                <input type="text" name="rating">

                Message:<br>
                <input type="text" name="review_text">

                <input type="submit" value="Submit">
            </form>
        </div>
        </div>
    </body>
</html>