<!DOCTYPE html>
<html>
    <head>
        <title>Showing Listings Bookmarks</title>
        <%- include('../header'); -%>
    </head>
    <body>
        <div>Showing Listings Bookmarks:</div>

        <div class="container">
            <div class="row">
                <% listing_bookmarks.forEach((bookmark) => { %>
                        <div class="col col-sm-3">
                            <div class="card">
                                <div class="card-body">

                                    <img class="img-thumbnail" src="https://placekitten.com/g/200/200" alt="kitty" />
                                    <p>Bookmark ID: <%= bookmark.bookmark_id %></p>
                                    <p>Listing ID: <%= bookmark.listing_id %></p>
                                    <p>User ID: <%= bookmark.user_id %></p>

                                </div>
                            </div>
                        </div>
                <% }) %>
                
            </div>
        </div>
        
    </body>
</html>