<!DOCTYPE html>
<html>
    <head>
        <title>Search Listings Bookmarks</title>
        <%- include('../header'); -%>
    </head>
    <body>
        <div>Listings Bookmarks:</div>
        <div class="container">
            <form method="post">
                Review ID:<br>
                <input type="text" name="review_id" ><br>
                
                Listing ID:<br>
                <input type="text" name="listing_id">

                Reviewer ID:<br>
                <input type="text" name="reviewer_id">

                <input type="submit" value="Submit">
            </form>
        </div>
        </div>
    </body>
</html>