<!DOCTYPE html>
<html>
<head>
    <title>404: Oops!</title>
    <%- include('../header'); -%>
</head>
<body>
<%- include('../navbar'); %>
<div class="container">
    <br>
    <div class="jumbotron">
        <h1>Oops!</h1>
        <p class="lead">We couldn't find what you were looking for</p>
        <button class="btn btn-primary" onclick="goBack()">Go Back</button>
    </div>
</div>
</body>
<footer>
    <script>
        function goBack(){
            window.history.back();
        }
    </script>
</footer>
</html>