<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <%- include('../header'); -%>
</head>
<body>
<%- include('../navbar'); %>
<div class="container">
    <br>
    <div class="jumbotron">
        <h1>Oops!</h1>
        <p class="lead">We couldn't find what you were looking for</p>
    </div>
</div>

</body>

</html>