<!DOCTYPE html>
<html>
    <head>
        <title>New user signup</title>
        <%- include('../header'); -%>
    </head>
    <body>
        Page for new users to signup

        

        
    </body>
</html>