<!DOCTYPE html>
<html>
<head>
    <title>Admin - Analytics</title>
    <%- include('../header'); -%>
</head>
<body>
<div class="row">
    <div class="col col-2">
        <%- include('../admin_nav'); %>
    </div>
    <div class="col">
        <div class="container">
        </div>
    </div>
</div>
</body>
</html>